<header>
  <img class="logo pull-left" src="/images/gLogo.svg" alt="Galvanize Reads logo" />
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</header>
<main>
  <article class="pull-left">
    <img src="/images/authors.jpg" alt="browse authors" />
    <a href="/authors/"><h1>Authors</h1></a>
  </article>
  <article class="pull-left">
    <img src="/images/books.jpg" alt="browse books" />
    <a href="/books/"><h1>Books</h1></a>
  </article>
</main>
<footer>

</footer>
