<header>
  <img class="logo pull-left" src="/images/gLogo.svg" alt="Galvanize Reads logo" />
  <h1>{{title}}</h1>
  <p>{{title}}</p>
</header>
<main>
  <form class="" action="/books" method="post">
    <label for="title">
      Title
    <input type="text" name="title">
    </label>
    <label for="author">
      Author
      <input type="text" name="author">
    </label>
    <label for="genre">
      Genre
      <input type="text" name="genre">
    </label>
    <label for="description">
      Description
      <textarea name="description"></textarea>
    </label>
    <label for="cover_image">
      Cover Image
      <input type="text" name="cover_image">
    </label>
    <input type="submit" name="name" value="Submit">
  </form>
</main>
<footer></footer>
